.about__projects {
	&_list {
		width: 100%;
		padding-left: 30px;
		list-style-type: disc;

		li {
			width: 100%;
			padding: 0 0 15px;

			a {
				color: $blue;
				font-size: $font-size-tablet;
				border-bottom: 1px dashed $blue;
				padding-bottom: 2px;
			}

			&:last-child {
				padding-bottom: 0;
			}
		}
	}
}