.projects {
	width: 100%;
	height: 400px;
	@include flex(nowrap row);
	@include flex-align(flex-start, flex-start, flex-start);
	-webkit-clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 85%, 0 70%);
	clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 85%, 0 70%);
	position: relative;
	overflow: hidden;
	z-index: map-get($z-index, projects);

	&__item {
		flex: 0 0 calc(100% / 5);
		height: 100%;
		padding: 15px;
		transition: all 0.4s ease 0.01s;

		&_title,
		&_intro,
		&_list a {
			color: #fff;
		}

		&_list {
			padding: 5px 0;

			li {
				display: inline-block;
				padding-top: 10px;
				padding-right: 8px;

				a {
					color: #fff;
					font-size: 22px;
					padding-right: 10px;

					&[icon="github"] {
						@extend .icon-github;
					}

					&[icon="link"] {
						@extend .icon-link;
					}
				}
			}
		}

		&:first-child { background-color: $mysql; }
		&:nth-child(2) { background-color: map-get($post-color, blue); }
		&:nth-child(3) { background-color: darken(map-get($post-color, yellow), 10%); }
		&:nth-child(4) { background-color: $gray; }
		&:nth-child(5) { background-color: $yellow; }
		&:nth-child(6) { background-color: $yellow; }
		&:nth-child(7) { background-color: mix($blue, $red); }
		&:nth-child(8) { background-color: darken(map-get($post-color, green), 30%); }
		&:nth-child(9) { background-color: $green; }
		&:nth-child(10) { background-color: darken($php, 5%); }
		&:last-child { background-color: mix(darken($html, 5%), $gray); }

		@media screen and (max-width: 1280px) {
			flex-basis: calc(100% / 4);
		}

		@media screen and (max-width: 760px) {
			flex-basis: 100%;
		}
	}

	@-moz-document url-prefix() { 
	  margin-bottom: 50px;
	}

	@media screen and (max-width: 760px) {
		height: 250px;
		margin-bottom: -20px;

		@-moz-document url-prefix() { 
			margin-bottom: 10px;
		}
	}
}