---
layout: default
title: 'Blog'
image: 'standard.jpg'
opacity: 0
---

<section class="posts">	
	{% for post in site.posts %}
		<article class="posts__item" category="{{ post.category }}" {% if post.color and !post.category %}style="background-color: {{ post.color }};"{% endif %}>
			<div class="posts__item_category">
				<a href="{{ site.baseurl | append: '/categories#' | append: post.category }}">
					{{ post.category }}
				</a>
			</div>

			<div class="posts__item_title">
				<a href="{{ post.url | prepend: site.baseurl }}">
					{{ post.title | truncatewords: 10 }}
				</a>
			</div>

			<div class="posts__item_date">
				{{ post.date | date: '%B %d, %Y' }}
			</div>
		</article>
	{% endfor %}
</section>